/*******************************
 *     Global Stylesheets      *
 *******************************/

.userscript-textarea {
  resize: vertical;
  min-height: 80px;
}

.userscript-clear {
  clear: both;
}

.userscript-editor-container {
  overflow: hidden;
  position: relative;
  left: -16px;
  width: auto;
  max-width: none;
}

.userscript-avatar {
  float: left;
  position: relative;
  left: -16px;
}

.userscript-avatar div{
  padding-top: 10px;
  width: 205px;
  text-align: center;
}

.userscript-avatar big {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #333;
}

.userscript-avatar small {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #333;
}

.userscript-avatar a {
  position: relative;
  display: block;
  width: 145px;
  height: 100px;
  background: url("http://riot-web-static.s3.amazonaws.com/forum/ui/avatar.png") no-repeat;
  margin: 0px auto;
}

.userscipt-user-summoner-icon {
  width: 80px;
  height: 80px;
  margin: 7px 0 0 1px;
}

.userscript-left-orb {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 17px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  line-height: 20px;
  text-align: center;
}

.userscript-right-orb {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 17px;
  right: 4px;
}

.userscript-pvpnet-bar a {
  color: rgb(0, 150, 255);
  background: url("https://s3-us-west-2.amazonaws.com/sandworm/images/pvpnet-sprite-v2.png") repeat-x scroll 0px -42px transparent;
  padding: 0px 10px;
  line-height: 31px;
  height: 31px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  border-left: 1px solid rgb(43, 43, 43);
  border-right: 1px solid rgba(35, 35, 35, 0.7);
}