div.panel > div {
  min-width:  640px    !important;
  width:      auto     !important;
  max-width:  none     !important;
}

textarea#vB_Editor_QR_textarea {
  width:      100%     !important;
  resize:     vertical !important;
  min-height: 100px    !important;
}