# Gitignore

# Exclude actual settings. You do not want to hand out your passwords to someone.
server/Settings.class.php

# Exclude summoner icons to keep the repo small.
server/SummonerIcons/*.jpg
server/SummonerIcons/*.png
server/SummonerIcons/*.gif
server/SummonerIcons/*.bmp
server/SummonerIcons/Thumbs.db

client/SummonerIcons/*.jpg
client/SummonerIcons/*.png
client/SummonerIcons/*.gif
client/SummonerIcons/*.bmp
client/SummonerIcons/Thumbs.db