<?phpclass Settings {	public $my_sql_host = '127.0.0.1';	public $my_sql_user = 'root';	public $my_sql_password = '';	public $my_sql_db = 'lolforumenhance';	public $my_sql_prefix = '';	public $my_sql_charset = 'utf8';	public $elophant_api_key = '';			function __construct() {}	function __destruct() {}	public function __sleep() {		return array(			'my_sql_host',			'my_sql_user',			'my_sql_password',			'my_sql_db',			'my_sql_prefix',			'my_sql_charset',			'elophant_api_key'			);    }    public function __wakeup() {}}?>